<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"> 
    <title>P&S CONSTRUYE</title>
    <link rel="shortcut icon" href="./media/logo-pys.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">
    <!--iconos-->
    <script src="https://kit.fontawesome.com/dfe40e45b4.js" crossorigin="anonymous">
    </script>

</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="row text-white justify-content-between">
                <a href="#" class="col-auto text-reset">
                    <img src="media/logo-pys.png" alt="logo pys" class="img-logo p-3">
                </a>
                <ul class="col-auto text-reset p-4">
                    <li>
                        <a href="#" class="text-reset">Inicio</a>
                    </li>
                    <li>
                        <a href="./about-us.html">Quiénes somos</a>
                    </li>
                    <li>
                        <a href="./work.html">En acción</a>
                    </li>
                    <li>
                        <a href="./clientes.html">Clientes</a>
                    </li>
                    <li>
                        <a href="./contactanos.html">Contactanos</a>
                    </li>
                </ul>
            </nav> 
        </div>
    </header>
    <main>
        <div class="banner">
            <img src="../media/pexels-photo-1145303.jpeg" alt="">
        </div>
        <h2 class="titulo-seccion">QUIÉNES SOMOS</h2>
        <section class="text-principal">
            <h3>PyS CONSTRUYE ES UN EMPRESA CONSTRUCTORA RADICADA EN CHACO, DEDICADA A LA EJECUCIÓN DE OBRAS DE ARQUITECTURA, INGENIERÍA E INFRAESTRUCTURA QUE DESARROLLA SUS ACTIVIDADES DESDE EL AÑO 2008</h3><br>        <p>Trabajamos y construimos con responsabilidad y honestidad. Contamos con un equipo capacitado que busca en todo momento mejorar sus prestaciones, con la intención de día a día brindar un mejor servicio.</p><br>
            <p>Año a año crece la confianza que depositan en nosotros nuestros clientes, eso nos impulsa a crecer y seguir centrándonos en nuestros objetivosentregar un producto terminado en el tiempo estipulado, garantizando la seguridad en obra y calidad de los trabajos.</p>
        </section>
        <section class="mision-vision">
            <article>
                <img src="../media/misión.jpeg" alt="">
                <h3>Misión</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, accusamus optio eum provident at illo rem deleniti voluptatibus voluptates eaque, nemo facere? Fuga in ducimus quo! Aliquid assumenda fugit doloribus?</p>
            </article>
            <article>
                <img src="../media/vision.jpeg" alt="">
                <h3>Visión</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique molestias debitis mollitia dignissimos temporibus ducimus maxime quidem numquam praesentium sunt, architecto ab. Natus voluptates porro esse alias necessitatibus nobis adipisci.</p>
            </article>
       </section>
    </main>


    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <h2>Ubicación</h2>
                <p>
                    MIguel Delfino 240 <br>
                    Resistencia- Chaco <br>
                    Tel: 3624084901 <br>
                    Email: rolon10go@gmail.com
                </p> <br>
                <h2>Horarios de atención</h2>
                <p>Lunes a viernes de 8 a 18hs.</p>
            </div>
            <div class="box">
                <h2>Seguinos en redes</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#"class="fa fa-instagram"></a>
                </div>
            </div>
            <div class="box">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.953290660406!2d-58.970870882556156!3d-27.470713499999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450cd8e152ce05%3A0xcdbf1d9d11932ba7!2sC.%20Miguel%20Delfino%20240%2C%20H3504FZF%20Resistencia%2C%20Chaco!5e0!3m2!1ses!2sar!4v1675550044919!5m2!1ses!2sar" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></src=></iframe>
            </div>
        </div >
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>