<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P&S CONSTRUYE</title>
    <link rel="shortcut icon" href="./media/logo-pys.png">
    <link rel="stylesheet" href="../css/estilos.css">
    <!--iconos-->
    <script src="https://kit.fontawesome.com/dfe40e45b4.js" crossorigin="anonymous">
    </script>

</head>
<body>
    <header>
        <nav class="menu-navegacion contenedor">
            <div class="logo">
                <img src="../media/logo-pys.png" alt="logo-pys">
            </div>
            <ul class="enlaces">

                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li>
                    <a href="./about-us.html">Quiénes somos</a>
                </li>
                <li>
                    <a href="#">En acción</a>
                </li>
                <li>
                    <a href="clientes.html">Clientes</a>
                </li>
                <li>
                    <a href="./contactanos.html">Contactanos</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="banner">
            <img src="../media/obra-estado.jpeg" alt="">
        </div>
        <h2 class="titulo-seccion">ÚLTIMOS TRABAJOS REALIZADOS</h2>
        <section class="work">
            <article>
                <img src="../media/cambio-membrana.jpeg" alt="">
                <h3>Resistencia, Chaco</h3>
                <h4>Cambio de membrana</h4>
            </article>
            <article>
                <img src="../media/cambio-reja.jpeg" alt="">
                <h3>Resistencia, Chaco</h3>
                <h4>Cambio de rejas- Domicilio particular</h4>
            </article>
            <article>
                <img src="../media/quincho.jpeg" alt="">
                <h3>Colonia Benitez, Chaco</h3>
                <h4>Construcción de quincho para eventos</h4>
            </article>
            <article>
                <img src="../media/muro-perimetral.jpeg" alt="">
                <h3>Resistencia, Chaco</h3>
                <h4>Cerramiento de terreno con muro perimetral</h4>
            </article>
            <article>
                <img src="../media/puertas-vidriadas.jpeg" alt="">
                <h3>Margarita Belén, Chaco</h3>
                <h4>Colocación de puerta vidriada en spa</h4>
            </article>
            <article>
                <img src="../media/reparacion-vereda.jpeg" alt="">
                <h3>Resistencia, Chaco</h3>
                <h4>Reparación de vereda zona céntrica</h4>
            </article>
       </section>
    </main>

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <h2>Ubicación</h2>
                <p>
                    MIguel Delfino 240 <br>
                    Resistencia- Chaco <br>
                    Tel: 3624084901 <br>
                    Email: rolon10go@gmail.com
                </p> <br>
                <h2>Horarios de atención</h2>
                <p>Lunes a viernes de 8 a 18hs.</p>
            </div>
            <div class="box">
                <h2>Seguinos en redes</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#"class="fa fa-instagram"></a>
                </div>
            </div>
            <div class="box">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.953290660406!2d-58.970870882556156!3d-27.470713499999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450cd8e152ce05%3A0xcdbf1d9d11932ba7!2sC.%20Miguel%20Delfino%20240%2C%20H3504FZF%20Resistencia%2C%20Chaco!5e0!3m2!1ses!2sar!4v1675550044919!5m2!1ses!2sar" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></src=></iframe>
            </div>
        </div >
    </footer>
</body>
</html>